In [52]:
import pandas as pd 

clients = ['AA','AM', 'BT', 'VOL', 'VIVA']
ac = ['A319', 'A320', 'A321','737']
station = ['ACA', 'BJX', 'CZM','DGO','GDL']
svc = ['A','B','C','D','E']
index = pd.MultiIndex.from_product([clients, ac])
columns = pd.MultiIndex.from_product([station, svc])
df = pd.DataFrame(index=index, columns=columns)
df.index.names = ['Client','AC']
df.columns.names = ['Station','Service']
df.fillna(1, inplace=True)
df.to_excel('File-Bogar.xlsx')
df

Station     ACA             BJX              ... DGO             GDL           \
Service       A  B  C  D  E   A  B  C  D  E  ...   A  B  C  D  E   A  B  C  D
Client AC                                    ...
AA     A319   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       A320   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       A321   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       737    1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
AM     A319   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       A320   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       A321   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       737    1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
BT     A319   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       A320   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       A321   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       737    1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
VOL    A319   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       A320   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       A321   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       737    1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
VIVA   A319   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       A320   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       A321   1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1
       737    1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1

Station
Service      E
Client AC
AA     A319  1
       A320  1
       A321  1
       737   1
AM     A319  1
       A320  1
       A321  1
       737   1
BT     A319  1
       A320  1
       A321  1
       737   1
VOL    A319  1
       A320  1
       A321  1
       737   1
VIVA   A319  1
       A320  1
       A321  1
       737   1

[20 rows x 25 columns]

In [78]:
# Assuming you already have the DataFrame 'df'
reshaped_df = df.stack(level='Station').reset_index(level=['AC', 'Station'])
reshaped_df = reshaped_df.pivot_table(index=['Client', 'AC', 'Service'], columns='Station', values='Value')

# Now 'Client', 'AC', and 'Service' are in the index, and 'Station' and 'Value' are in the columns
print(reshaped_df)

KeyError: 'Service'

In [63]:

am = df.xs('AM', axis=0, level='Client')
print(am)
aca = am.xs('ACA', axis=1, level='Station')
aca

Station ACA             BJX              ... DGO             GDL
Service   A  B  C  D  E   A  B  C  D  E  ...   A  B  C  D  E   A  B  C  D  E
AC                                       ...
A319      1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1  1
A320      1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1  1
A321      1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1  1
737       1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1  1

[4 rows x 25 columns]

Service  A  B  C  D  E
AC
A319     1  1  1  1  1
A320     1  1  1  1  1
A321     1  1  1  1  1
737      1  1  1  1  1

In [49]:
df.loc['AM']

Station ACA             BJX              ... DGO             GDL
Service   A  B  C  D  E   A  B  C  D  E  ...   A  B  C  D  E   A  B  C  D  E
AC                                       ...
A319      1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1  1
A320      1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1  1
A321      1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1  1
737       1  1  1  1  1   1  1  1  1  1  ...   1  1  1  1  1   1  1  1  1  1

[4 rows x 25 columns]